VITE_APPWRITE_URL="https://nyc.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="69fed9cc00370d29d06c"
VITE_APPWRITE_DATABASE_ID="69fedabf0023fc1aed83"
VITE_APPWRITE_COLLECTION_ID="articles"
VITE_APPWRITE_BUCKET_ID="69fedd77002d966c5967"
VITE_TINYMCE_API_KEY="5qd180rysf50a7pso006qi353zqotko3q56ixg6pmy324leq"